rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pairs/{pairCode}/members/{memberId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.auth.uid == memberId;
    }
  }
}